{% extends 'base/base.html' %}

{% block content %}
    <p><a href="{% url 'quality_control:update_feature' featurerequest.id %}">Изменить фичу</a></p>
    <p><a href="{% url 'quality_control:delete_feature' featurerequest.id %}"onclick="return confirm('Вы уверены, что хотите удалить фичу?');">Удалить фичу</a></p>


    <h1>{{ featurerequest.title }}</h1>
    <p>Описание: {{ featurerequest.description }}</p>
    <p>Статус: {{ featurerequest.status }} </p>
    <p>Приоритет: {{ featurerequest.priority }} </p>
    <p>Проект: {{ featurerequest.project.name }}</p>
    <p>Задача: {{ featurerequest.task.name }}</p>

{% endblock %}